In [26]:
import tensorflow as tf
import pandas as pd
import os
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

df = pd.read_csv('AFLT_111204_211204.csv',';',usecols=[8], engine='python')
plt.plot(df)
plt.show()

ModuleNotFoundError: No module named 'tensorflow'

In [24]:
dataset = pd.read_csv('AFLT_111204_211204.csv',';', parse_dates=[2], dayfirst=True)
dataset.head()

  <TICKER> <PER>     <DATE>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>    <VOL>
0     AFLT     D 2011-12-05       0   50.26   50.78  50.22    50.55   342700
1     AFLT     D 2011-12-06       0   50.38   50.58  48.05    49.00  2425900
2     AFLT     D 2011-12-07       0   49.74   49.78  48.39    48.96  1408000
3     AFLT     D 2011-12-08       0   49.00   49.50  48.50    48.67   599000
4     AFLT     D 2011-12-09       0   48.19   48.50  45.70    47.14  1545700

AttributeError: 'DataFrame' object has no attribute 'VOL'